<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=<{$xoops_charset}>" />
	<title><{$lang_recommendvideotitle}></title>

<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/xoops.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_themecss}>" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- RMV: added module header -->
<{$xoops_module_header}>

</head>
<body>

<table><tr><td class=odd> 
The Recommend Video To A Friend feature is still under development .... please check back later
</td></tr></table>

</body>
</html>